<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Generate Design</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="workspace">
        <div class="workspace-header">
            <a href="{{ url_for('seller_dashboard') }}" class="workspace-header-back-btn">
                <i class="fa-solid fa-arrow-left"></i>Go Back
            </a>
            <div>
                <label for="proj-title">Design Name:&nbsp;</label>
                <input id="proj-title" name="proj-title" type="text" value="Untitled">
            </div>
            <button class="signup-btn">Save Design</button>
        </div>

        <div class="toolset-left">
            Toolset
        </div>

        <div class="sketch-area">
            <img src="{{ url_for('static', filename='shirt.png')}}" alt="White T-shirt">
            <div class="matrix">
            {% for i in range(30) %}
                <div class="row">
                    {% for j in range(30) %}
                        <div class="pixel" data-i="{{ i }}" data-j="{{ j }}" style="background-color: {{ matrix[i][j] }}">
                            <div class="info">
                                <p>{{ i, j}}</p>
                                <p>{{ matrix[i][j] }}</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
            </div>
        </div>

        <div class="toolset-right">
            Toolset
        </div>

        <div class="workspace-footer">
            <form method="POST" action="{{ url_for('clear_matrix') }}">
                <button class="login-btn">Clear</button>
            </form>
            <form method="POST" action="{{ url_for('generate_with_groq') }}" style="display: flex; flex-direction: row">
                <label for="prompt">Enter prompt: </label>
                <input type="text" id="prompt" name="prompt" placeholder="A beautiful car">
                <button class="login-btn" type="submit">Use GROQ</button>
            </form>
        </div>   
    </div>
</body>
</html>