<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seller Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <div class="seller-dashboard">
        <nav>
            <div class="navbar">
                <div class="left">
                    <h1 class="logo">ThreadLab</h1>
                    <div class="underline"></div>
                </div>
                <div class="middle">
                    <a href="{{ url_for('home') }}">Home</a>
                    <div class="nav-separator">|</div>
                    {% if role == 'seller' %}
                        <a href="{{ url_for('seller_dashboard') }}">Dashboard</a>
                        <div class="nav-separator">|</div>
                    {% endif %}
                    <a href="#">Marketplace</a>
                    <div class="nav-separator">|</div>
                    <a href="#our-team">Contact</a>
                </div>
                <div class="right">
                    {% if role == 'seller' or role == 'cust' %}
                        <a href="#" class="signup-btn">Profile</a>
                        <a href="{{ url_for('logout') }}" class="login-btn">Logout</a>
                    {% else %}
                        <a href="#" class="signup-btn" onclick="openSignupModal()">SignUp</a>
                        <a href="#" class="login-btn" onclick="openLoginModal()">Login</a>
                    {% endif %}
                </div>
            </div>
        </nav>
        <div class="main-content">
            <div class="add-item">
                <div class="shirt-wrapper">
                    <i class="fa-solid fa-shirt"></i>
                    <h2>Add Item</h2>
                </div>
                <h3>Ready to add a design to your arsenal? Just hit the button below!</h3>
                <a href="{{ url_for('generate') }}" class="add-item-btn">Add Item&nbsp;&nbsp;<i class="fa-solid fa-arrow-right"></i></a>
            </div>
        </div>
    </div>
</body>
</html>